body{
    background: rgb(0,151,178);
    background: linear-gradient(90deg, rgba(0,151,178,1) 28%, rgba(126,217,86,1) 65%);
    display: flex;
    align-items: center;

}
#k{
    border-radius: 100%;
}
#iB{
    background-color: white;
    border-radius:100% ;
    margin:4px;
}
#icon{

    background: rgb(0,151,178);
    background: linear-gradient(90deg, rgba(0,151,178,1) 28%, rgba(126,217,86,1) 65%);
    border-radius: 100%;
}
#header{
    align-items: center;
    display:flex;
    background:white;
    border: 3px solid white;
    border-radius:10px;
    width:90vw;
    overflow: hidden;
    justify-content: space-between;
}
#Title{
    font-size: x-large;
    text-decoration: underline;
}
#nav,nav,ul,li{
    display: flex;
}


a{
    text-decoration: none;
    margin: 4px;
}